* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "serif";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* body{
    background-color: #111;
} */
/* #box1{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: rgb(20, 190, 220);
}
#box3{
    height: 300px;
    width: 300px;
    background-color: rgb(220, 193, 20);
}
#space{
    height: 10px;
} */

/* #nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#nav-btns{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    white-space: nowrap;
} */

#page1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(44, 63, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 115, 153);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

#box {
  height: 300px;
  width: 300px;
  background-color: #e72525;
}

h1 {
  font-size: 60px;
  position: relative;
    padding: 10px;
}

h2 {
  font-size: 50px;
  position: relative;
  padding: 10px;
}
